@import "machiatto.css";

* {
    color: @blue;
    border: 0;
    padding: 0;
    font-family: Ubuntu;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* font-family: "Hack Nerd Font"; */
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

#waybar {
    margin-top: 10px;
}

window#waybar {
    border: 0px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    border-style: hidden;
}

#window {
    margin: 0;
    margin-top: 2px;
    margin-left: 6px;
    color: #eceff4;
    background-color: @base;
    border-radius: 8px;
    /*border-bottom: 2px solid @teal;*/
    padding: 0px 6px;
}

#workspaces * {
    font-family: Segoe UI;
    font-size: 16px; 
    color: whitesmoke;
}

#workspaces {
    border-style: solid;
    background-color: @base;
    opacity: 1;
    border-radius: 8px;
    margin: 2px 6px 0;
    padding: 0px 8px;
}

#workspaces button {
    color: @base;
    /*border-radius: 50%;
    background-color: @base; */
    margin: 0px 3px 0px;
    padding: 0px 1px;
}

#workspaces button:hover {
    color: @mauve;
    box-shadow: none; /* Remove predefined box-shadow */
    text-shadow: none; /* Remove predefined text-shadow */
    border: 0px;
    background: none;
}

#workspaces button:hover * {
    color: @mauve;
}

#workspaces button.active {
    color: @mauve;
    /*border-radius: 20px;
    background-color: @flamingo; */
}

#workspaces button.focused * {
    color: @mauve;
}

#mode {
    color: #ebcb8b;
}

#clock,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#mode,
#tray {
    padding: 0px 8px;
    border-style: solid;
    background-color: shade(@base, 1);
    opacity: 1;
    margin: 2px 0px 0px;
}

#clock {
    /* background-color:#a3be8c; */
    color: @sky;
    border-radius: 8px;
    margin-right: 6px;
}

#backlight {
    color: @yellow;
    /* border-bottom: 2px solid @yellow; */
    border-radius: 8px 0 0 10px;
}

@keyframes blink {
    to {
        color: @red;
        /* border-bottom: 2px solid @red; */
    }
}

#cpu {
    color: @sky;
    /* border-bottom: 2px solid @sky; */
}

#cpu #cpu-icon {
    color: @sky;
}

#memory {
    color: @sky;
    border-radius: 0 8px 8px 0;
    margin-right: 10px;
}

#network.disabled {
    color: #bf616a;
    /* border-bottom: 2px solid #bf616a; */
}

#network {
    color: @green;
    /* border-bottom: 2px solid @green; */
    border-radius: 8px;
}

#network.disconnected {
    color: #bf616a;
    /* border-bottom: 2px solid #bf616a; */
}

#pulseaudio {
    color: @flamingo;
    border-radius: 8px 0 0 10px;
    margin-left: 10px;
}

#pulseaudio.muted {
    color: #3b4252;
    /* border-bottom: 2px solid #3b4252; */
}

#temperature {
    color: @teal;
    /* border-bottom: 2px solid @teal; */
    /*border-radius: 8px 0 0 10px*/
}

#temperature.critical {
    color: @red;
    /* border-bottom: 2px solid @red; */
}

#tray {
    /* background-color: @base; */
    margin: 2px 10px 0px;
    border-radius: 8px;
}

/* window#waybar {
     background: #2d2a2e;
 }
 
 * {
     color: #c8b9a9;
     font-family: Ubuntu Mono, sans-serif;
     font-size: 12px;
 }
 
 #workspaces button.focused {
     color: #f2e5bc;
 }
 
 #workspaces button {
     color: #c8b9a9;
 }
 
 .separator {
     background-color: #c8b9a9;
 }
 
 #mode {
     color: #ebcb8b;
 }
 
 #clock {
     color: #a3be8c;
 }

 #cpu {
     color: #a3be8c;
 }
 
 #memory {
     color: #d3869b;
 }
 
 #network {
     color: #8fbcbb;
 }
 
 #network.disabled {
     color: #bf616a;
 }
 
 #network.disconnected {
     color: #bf616a;
 }
 
 #pulseaudio {
     color: #b48ead;
 }
 
 #pulseaudio.muted {
     color: #bf616a;
 }
 
 #temperature {
     color: #8fbcbb;
 }
 
 #temperature.critical {
     color: #bf616a;
 } */
